<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABOUT</title>
    <link rel="stylesheet" href="../../static/assets/styles/main.css">
    <link rel="stylesheet" href="../../static/assets/styles/bootstrap/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">member_details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">member_list</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h1>About Page</h1>
<h2>Our History:</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores at commodi delectus earum eum facilis molestiae nesciunt, nihil nulla placeat provident recusandae suscipit tempora, vel veniam voluptas? Ab alias, animi autem cum, debitis, error iste maiores necessitatibus non nulla obcaecati perspiciatis qui quibusdam sapiente sed similique sunt voluptatum. Adipisci architecto culpa cupiditate eius eum explicabo, impedit pariatur praesentium voluptas!</p>
<h3>This is what you have to know:</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque blanditiis, impedit in itaque laudantium libero, nemo nihil nobis perferendis totam vel veniam voluptate. Consequatur eligendi, eos nesciunt nobis recusandae sed velit. Ad animi ea id maiores necessitatibus numquam repudiandae veritatis.</p>
   <section>
        <h3>Our core values</h3>
        <ul>
            <li><i><i class="fa-solid fa-user"></i></i>compassion</li>
            <li><i><i class="fa-regular fa-floppy-disk"></i></i>excellence</li>
            <li><i><i class="fa-solid fa-moon"></i></i>innovation</li>
            <li>integrity</li>
        </ul>
    </section>
</body>
</html>