<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MEMBER_DETAILS</title>
    <link rel="stylesheet" href="../../static/assets/styles/main.css">
    <link rel="stylesheet" href="../../static/assets/styles/bootstrap/css/bootstrap.css">
</head>
<body>
<h1>Member Details Page</h1>
<div class="input-group">
  <span class="input-group-text">First and last name</span>
  <input type="text" aria-label="First name" class="form-control">
  <input type="text" aria-label="Last name" class="form-control">
</div>
<div class="input-group">
  <span class="input-group-text" id="visible-addon">NO.</span>
  <input type="number" class="form-control" placeholder="Member Number" aria-label="Member Number" aria-describedby="visible-addon">
  <input type="number" class="form-control d-none" placeholder="Hidden input" aria-label="Hidden input" aria-describedby="visible-addon">
</div>
<div class="input-group">
    <span class="input-group-text">Phone No,</span>
    <input type="number" class="form-control" placeholder="Phone" aria-label="Phone" aria-describedby="visible-addon">
    <input type="number" class="form-control d-none" placeholder="Hidden input" aria-label="Hidden input" aria-describedby="visible-addon">
</div>
<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
</div>
</body>
</html>