<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MEMBER_LIST</title>
    <link rel="stylesheet" href="../../static/assets/styles/main.css">
    <link rel="stylesheet" href="../../static/assets/styles/bootstrap/css/bootstrap.css">
</head>
<body>
<h1>Member List Page</h1>
<div class="container">
<div class="row">
    <div class="bg-black text-white col-lg-4 col-xl-4 col-xxl-4 col-md-4 col-sm-4 col-4">Name</div>
    <div class="bg-danger text-white col-lg-4 col-xl-4 col-xxl-4 col-md-4 col-sm-4 col-4">Member No.</div>
    <div class="bg-success text-white col-lg-4 col-xl-4 col-xxl-4 col-md-4 col-sm-4 col-4">Phone No.</div>
    <div class="bg-success text-white col-lg-4 col-xl-4 col-xxl-4 col-md-4 col-sm-4 col-4">Email</div>
<table>
    <tr>
        <td>Ian</td>
        <td>64041</td>
        <td>072150000</td>
        <td>ian20@gmail.com</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Swat</td>
        <td>38951</td>
        <td>071235000</td>
        <td>swat40@gmail.com</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>James</td>
        <td>97956</td>
        <td>078500000</td>
        <td>james80@gmail.com</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Mark</td>
        <td>75341</td>
        <td>071580000</td>
        <td>mark17@gmail.com</td>
        <td></td>
        <td></td>
    </tr>
</table>
</div>
</div>
</body>
</html>