<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PROFILE</title>
    <link rel="stylesheet" href="../../static/assets/styles/main.css">
    <link rel="stylesheet" href="../../static/assets/styles/bootstrap/css/bootstrap.css">
</head>
<body>
<h1>Profile Page</h1>
<h2>Our Offices Are Located At:</h2>
<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.851560360808!2d36.80179397480344!3d-1.2613312987266585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f17c1b3a1480b%3A0xcc9aad1f14a2c8ce!2sKODA%20Nairobi!5e0!3m2!1sen!2ske!4v1768829418211!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
</body>
</html>
